<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.github.meixuesong.order.dao.OrderItemDOMapper">
  <resultMap id="BaseResultMap" type="com.github.meixuesong.order.dao.OrderItemDO">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="order_id" jdbcType="VARCHAR" property="orderId" />
    <result column="prod_id" jdbcType="VARCHAR" property="prodId" />
    <result column="amount" jdbcType="DECIMAL" property="amount" />
    <result column="sub_total" jdbcType="DECIMAL" property="subTotal" />
  </resultMap>
  <sql id="Base_Column_List">
    id, order_id, prod_id, amount, sub_total
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from order_item
    where id = #{id,jdbcType=BIGINT}
  </select>
  <select id="selectByOrderId" parameterType="java.lang.String" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from order_item
    where order_id = #{orderId,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from order_item
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <delete id="deleteByOrderId" parameterType="java.lang.String">
    delete from order_item
    where order_id = #{id,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.github.meixuesong.order.dao.OrderItemDO">
    insert into order_item (id, order_id, prod_id,
      amount, sub_total)
    values (#{id,jdbcType=BIGINT}, #{orderId,jdbcType=VARCHAR}, #{prodId,jdbcType=VARCHAR},
      #{amount,jdbcType=DECIMAL}, #{subTotal,jdbcType=DECIMAL})
  </insert>

  <insert id="insertAll" parameterType="java.util.List">
    insert into order_item (id, order_id, prod_id, amount, sub_total)
    values
    <foreach collection="list" item="element" index="index" open="(" separator="),("  close=")">
      #{element.id,jdbcType=VARCHAR},
      #{element.orderId,jdbcType=VARCHAR},
      #{element.prodId,jdbcType=VARCHAR},
      #{element.amount,jdbcType=DECIMAL},
      #{element.subTotal,jdbcType=DECIMAL}
    </foreach>

  </insert>


  <insert id="insertSelective" parameterType="com.github.meixuesong.order.dao.OrderItemDO">
    insert into order_item
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="orderId != null">
        order_id,
      </if>
      <if test="prodId != null">
        prod_id,
      </if>
      <if test="amount != null">
        amount,
      </if>
      <if test="subTotal != null">
        sub_total,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=BIGINT},
      </if>
      <if test="orderId != null">
        #{orderId,jdbcType=VARCHAR},
      </if>
      <if test="prodId != null">
        #{prodId,jdbcType=VARCHAR},
      </if>
      <if test="amount != null">
        #{amount,jdbcType=DECIMAL},
      </if>
      <if test="subTotal != null">
        #{subTotal,jdbcType=DECIMAL},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.github.meixuesong.order.dao.OrderItemDO">
    update order_item
    <set>
      <if test="orderId != null">
        order_id = #{orderId,jdbcType=VARCHAR},
      </if>
      <if test="prodId != null">
        prod_id = #{prodId,jdbcType=VARCHAR},
      </if>
      <if test="amount != null">
        amount = #{amount,jdbcType=DECIMAL},
      </if>
      <if test="subTotal != null">
        sub_total = #{subTotal,jdbcType=DECIMAL},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.github.meixuesong.order.dao.OrderItemDO">
    update order_item
    set order_id = #{orderId,jdbcType=VARCHAR},
      prod_id = #{prodId,jdbcType=VARCHAR},
      amount = #{amount,jdbcType=DECIMAL},
      sub_total = #{subTotal,jdbcType=DECIMAL}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>
